.clearfix:after {
  display: block;
  clear: both;
  content: '';
}
.wrapper {
  padding: 20px;
}
.title {
  font-size: 50px;
}
.sub-title {
  margin: 40px 0 20px;
  font-size: 30px;
}
.question {
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
}
.btn {
  display: inline-block;
  padding: 10px;
  width: 300px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: maroon;
  box-sizing: border-box;
  cursor: pointer;
}
.btn + .btn {
  margin-top: 20px;
}
.list {
  margin: 0 auto;
  width: 300px;
}
.list + .list {
  margin-top: 40px;
}
.list > li {
  padding: 10px;
  color: #fff;
  text-align: center;
  border-top: 1px #fff solid;
  background-color: maroon;
  box-sizing: border-box;
  cursor: pointer;
}
.list > li:first-child {
  border-top: none;
}
.large {
  font-size:30px;
}