.clearfix::after {
  display: block;
  clear: both;
  content: '';
}
.wrap {
  padding-bottom: 40px;
}
.header {
  width: 100%;
  background-color: #43cee0;
}
.header__title {
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.search {
  overflow: hidden;
  margin-bottom: 50px;
  background: #fff;
  box-shadow: 0 1px 5px #ccc;
}
.search__text {
  width: 100%;
}
.search__text__input {
  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
  line-height: 3em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #eee;
  font-size: 20px;
}
.search__btn {
  display: block;
  margin: 0 auto 20px;
  padding: 0 20px;
  line-height: 40px;
  border: none;
  font-size: 18px;
  color: #fff;
  background-color: #43cee0;
  cursor: pointer;
}
.search__btn:hover {
  background-color: #1eabbd;
}
.lists {
  overflow: hidden;
  margin-left: 20px;

}
.lists__item {
  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  display: inline-block;
  width: 25%;
  padding: 0 20px 20px 0;
  vertical-align: top;
  text-align: center;
}
.lists__item__inner {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
.lists__item__link {
  display: block;
  text-decoration: none;
}
.lists__item__img {
  margin-bottom: 20px;
  width: 100%;
  max-width: 150px;
  -webkit-box-shadow: 0 1px 5px #ccc;
      box-shadow: 0 1px 5px #ccc;
}
.lists__item__detail {
  margin-bottom: 10px;
  padding-left: 5em;
  text-indent: -5em;
  line-height: 1.5em;
  text-align: left;
  font-size: 12px;
}
.message {
  margin-bottom: 50px;
  text-align: center;
}
.pager {
  border-top: 1px solid #ccc;
  padding-top: 35px;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn-item {
  width: 80px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  background-color: #43cee0;
  color: #fff;
  margin-left: 10px;
  display: block;
  font-size: 16px;
  text-align: center;
}
.btn-item:hover:not(.disabled) {
  background-color: #1eabbd;
}
.btn-item:first-child {
  margin-left: 0;
}
.disabled {
  background-color: #888;
}
.disabled.btn-item {
  cursor: default;
}
.counter {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.counter-current {
  margin-right: 10px;
  color: #43cee0;
}
.counter-all {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .lists__item {
    width: 33.33%;
  }
}

@media screen and (max-width: 479px) {
  .lists__item {
    width: 50%;
  }
}
